<%= javascript_tag do%>
 window.nearbys= <%=raw @houses.to_json %>;
<%end%>
<div class="container main-form">
  <%= form_tag houses_path, :method => :get, class: "form-horizontal" do %>
    <div class="form-group flt-left">
      <%= label_tag "house_type", "Location", class: "" %>
      <div class="">
        <%= text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Search by Location", id: "searchLocation" %>
        <%= hidden_field_tag :lat, params[:lat],id: "latitude" %>
         <%= hidden_field_tag :long, params[:long],id: "longitude" %>
      </div>
    </div>
       
    <div class="form-group flt-left">
      <%= label_tag "house_type", "House Type", class: "" %>
      <div>
        <%= select_tag "filter[house_type]", options_for_select(House.house_types, params[:filter].present? ? params[:filter]['house_type'].to_i : ""), class: "form-control small-tx", :prompt=>"Select Bunglow Type" %>
      </div>
    </div>

    <div class="form-group flt-left">
      <%= label_tag "min_price", "Min Price", class: "" %>
      <div>
        <%= text_field_tag "filter[min_price]", params[:filter] && params[:filter]['min_price'], class: "form-control small-tx", placeholder: "Insert here..." %>
      </div>
    </div>
    <div class="form-group flt-left">
      <%= label_tag "max_price", "Max Price", class: "" %>
      <div class="">
        <%= text_field_tag "filter[max_price]", params[:filter] && params[:filter]['max_price'], class: "form-control small-tx", placeholder: "Insert here..." %>
      </div>
    </div>

    <div class="form-group btn-top flt-left">
      <%= submit_tag "Search", class: "btn btn-system" %>
      <%= link_to "Reset", houses_path, class: "btn btn-default reset-btn" %>
    </div>
  <% end %>
</div>

<div class="clr"></div>
<!-- form -->
<div class="container views">
  <button class='property_map_view'>Map View</button>
  <button class='property_list_view'>List View</button>
  
  <!-- List View -->
  <div id="list_view" class="hide">
    <%= render partial: 'list_view' %>
  </div>
  <!-- End of List View -->
  
  <div id="map-container">
    <% if @houses.present? %>
      <div id="map-canvas"></div>
    <% else %>
      <p>No Property Found</p>
    <% end %>
  </div>
</div>


  